<html>
<head>
    <meta charset="UTF-8">
    <title>typechat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>
<body>
<script src="/static/app.js" type="text/javascript"></script>

<div id="messages">
    </div>

    <input type="text" id="room" placeholder="Room">
    <input type="text" id="username" placeholder="Username">
    <button id="joinRoom">Join</button>
    <br />


    <input type="text" id="message" placeholder="Message">
    <button id="sendBtn">Send</button>


</body>
</html>