.user-login {
    background-color: black;
    color: #c7c7c7;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 10px;
    margin-bottom: 10px;
    width: 205px;
    transition: width 0.25s ease, margin-right 0.25s ease;
}

.forms-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
}

.user-login form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-betwdeen;
    align-items: center;
    gap: 0px;
    width: 100%;
    transition: margin-right 0.5s ease;
}

@media (max-width: 600px) {
    .user-login form {
        flex-direction: row;
    }
}

.user-login input {
    background-color: #1A1A1A;
    color: #c7c7c7;
    border: 1px solid #c7c7c7;
    padding: 3px 5px;
    width: 65px;
    line-height: 1;
    font-size: 10px;
    flex: 1;
    margin-right: 7px;
    font-family: Menlo, Monaco, 'Courier New', monospace;

}

.user-login input#invalid {
    border: 1px solid red !important;
    color: red;
    transition: color 0.35s ease, border 0.35s ease;
}

.user-login input#valid {
    border: 1px solid green !important;
    color: greenyellow;
    transition: color 0.35s ease, border 0.35s ease;
}

.user-login button {
    background-color: hsl(0, 0%, 10%);
    color: #7FFF00;
    border: 1px solid #7FFF00;
    padding: 3px 5px;
    font-size: 10px;
    cursor: pointer;
    font-family: Menlo, Monaco, 'Courier New', monospace;

}

.login-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.login-links a {
    color: #c7c7c7;
    text-decoration: none;
    font-size: 10px;
}


.login-links a {
    color: #c7c7c7;
    text-decoration: none;
    font-size: 10px;
}

.forgot-password a {
    color: rgb(114, 114, 114);
    text-align: left;
}

.create-password a {
    text-align: right;
    flex: 1;
}

.user-login.is-registering {
    margin-right: -50px;
    width: calc(100% + 100px);
}

.username-status {
    color: #c7c7c7;
    font-size: 10px;
    margin-top: 2px;
    /* Adjust the spacing as needed */
    font-family: Menlo, Monaco, 'Courier New', monospace;
    width: 100%;
    /* Ensures it occupies the full width beneath the username input */
    text-align: left;
    /* Aligns the text to the left */
}

.username-status.available {
    color: green;
    /* Color for available username message */
}

.username-status.taken {
    color: red;
    /* Color for taken username message */
}